<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<div class ='newusertable'>
<%= form_with(model: @user, local: true) do |f| %>  
  <table class ='imageadd'>
    <tr>
        <% if @user.image.blank? %>
          <td><%= f.label :image %></td>
          <td><%= f.file_field :image %></td>
        <% else %>
        <tr>
          <td colspan='2'><%= image_tag (@user.image.url) %></td>
        </tr>
        <tr>
          <td><%= f.label :image %></td>
          <td><%= f.file_field :image %></td>
        </tr>
        <% end %>
    </tr>
    <tr>
      <td><%= f.label :name %></td>
      <% if @user.name.blank?%>
        <td><%= f.text_field :name %></td>
      <% else %>
        <td><%= f.text_field :name, value: @user.name %></td>
      <% end %>
    </tr>
    <tr>
      <td><%= f.label :email %></td>
      <% if @user.email.blank? %>
        <td><%= f.email_field :email %></td>
      <% else %>
        <td><%= f.email_field :email, :readonly => true ,value: @user.email %>IDは変更ｘ</td>
      <% end %>
    </tr>
    <tr>
      <td><%= f.label :password %></td>
      <% if @user.password.blank? %>
        <td><%= f.password_field :password %></td>
      <% else %>
        <td><%= f.hidden_field :password, value: @user.password %></td>
      <% end %>
    </tr>
    <tr>
      <td><%= f.label :password_confirmation %></td>
      <td><%= f.password_field :password_confirmation , value: @user.password %></td>
    </tr>
    <tr>
      <td colspan ='2'><%= f.submit "Create my account" %></td>
    </tr>
  </table>
<% end %>
</div>