<h1>「投稿が正常に完了しました.以下確認」</h1>

<h4>name: <%= @pictures.user.name %></h4>
<hr>
<h4><%= @pictures.user.email %>さんの投稿内容の確認</h4>
<p>name: <%= @pictures.user.name %></p>
<p>email: <%= image_tag @pictures.image.url %></p>

<p>content: <%= @pictures.content %></p>